**/venv
**/wsl2venv
**/__pycache__
**/parse_invoice_letter/config/*
!**/parse_invoice_letter/config/config.example.json
!**/parse_invoice_letter/config/transfer_purpose_map.example.json
!**/parse_invoice_letter/config/download_transfer_purpose_map.example.json
**/parse_invoice_letter/data/*
!**/parse_invoice_letter/data/bank.example.csv
!**/parse_invoice_letter/data/invoices/
**/parse_invoice_letter/data/invoices/*
!**/parse_invoice_letter/data/invoices/examplebank/
**/parse_invoice_letter/test_data
**/parse_invoice_letter.egg-info
plan_*
.env
.env.test
.env.dev
.env.prod
.env.docker
active_env.py
**/staticfiles

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows Sub Linux tools
wsl2/