DEBUG=False
DJANGO_ENV=production
SECRET_KEY=your-secret-key-here-replace-me
DATABASE_NAME=danpamonnaie
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
TAILSCALE_HOST=your-tail-scale-host-name